@model IEnumerable<NET.S._2019.Pristavko._19.Models.PhotoToDB>

@{
    ViewBag.Title = "Image Gallery DB";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int j =1;
}

<div class="container1">
    @foreach (var item in Model)
    {
        <div class="mySlides">
            <img class="img1" src="@Url.Action("GetImage", "HomeToDB", new { item.PhotoId })" style="width:100%">
        </div>
    }

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <img class="demo cursor" src="@Url.Action("GetImage", "HomeToDB", new { item.PhotoId })" style="width:100%" onclick="currentSlide(@j)">
            </div>
        j++;
        }
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>